a {
    display: inline !important;
    color: #56CBF9;
    font-weight: bold;
}

.blogimg {
    padding-top: 20px;
    padding-bottom: 20px;
    /* width: 100%; */
    max-height: 500px;
}

.pubimg {
    padding-top: 20px;
    padding-bottom: 20px;
    /* width: 100%; */
    max-height: 500px;
}

.interests {
    color: var(--white-1);
    /* background: var(--onyx); */
    font-size: var(--fs-8);
    font-weight: var(--fw-300);
    width: 100%;
    padding: 20px 12px;
    /* border-radius: 8px; */
}

.abstract {
    text-align: justify;
}

b {
    color:#fec361;
    font-weight: bold;
}

.avatar{
    border-radius: 15%;
}

/*
colors
FEC361 yellow
EE7674 red
3DDC97 green
01BAEF blue
56CBF9 blue2
*/